<% if 1 == 0 %>
    <% # Block commented out, but left in to show how to do a responsive image %>
    <% # Note the path to the image exclude the 'images' folder %>
    <div class='center hero-unit'>
      <img src='/assets/landscape' class='img-responsive' alt='Responsive image'>
    </div>
<% end %>


<div class='center hero-unit'>
  <% if signed_in? %>
      <h2>You are currently logged in as <%= @user.name %></h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Number of Members</div>
              <div class="panel-body"><%= chart_member_count %></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Card Balances</div>
              <div class="panel-body"><%= chart_card_balances %></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Products in Groups</div>
              <div class="panel-body"><%= chart_products_in_groups %></div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>