<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Welcome <%= @user.name %> to the Twenty Twenty Club.</h2>
<p>
  You have successfully reset your login password.
  Your password is: <strong><%= @password %></strong><br>
</p>
<p>
  It is recomended to change your password to something more
  familiar once you have logged in.
  This can be done in the Account->Change Details section.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
</body>
</html>