<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_category.name %>
</p>

<%= link_to 'Edit', edit_member_category_path(@member_category) %> |
<%= link_to 'Back', member_categories_path %>
