<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @telephone_type.name %>
</p>

<%= link_to 'Edit', edit_telephone_type_path(@telephone_type) %> |
<%= link_to 'Back', telephone_types_path %>
