<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card_revenue.name %>
</p>

<%= link_to 'Edit', edit_card_revenue_path(@card_revenue) %> |
<%= link_to 'Back', card_revenues_path %>
