<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_note_type.name %>
</p>

<%= link_to 'Edit', edit_member_note_type_path(@member_note_type) %> |
<%= link_to 'Back', member_note_types_path %>
